# CONN para mysql via mariadb

In [67]:
import mysql.connector
import pandas as pd

# Establecer la conexión a la base de datos
conexion = mysql.connector.connect(
        host="mariadb",  # Nombre del contenedor Docker
        port="3306",  # Puerto predeterminado de MariaDB
        user="root",
        password="abc123...",  # Cambiar a la contraseña correcta
        database="mibbdd"  # Nombre de tu base de datos
)

# Función para obtener un DataFrame de una tabla específica

In [68]:
def obtener_dataframe(tabla):
    cursor = conexion.cursor()
    consulta = f"SELECT * FROM `{tabla}`"  # Agregar comillas alrededor del nombre de la tabla
    cursor.execute(consulta)
    resultados = cursor.fetchall()
    column_names = [column[0] for column in cursor.description]
    cursor.close()
    return pd.DataFrame(resultados, columns=column_names)

# Crear DataFrames para cada tabla

In [69]:
df_employees = obtener_dataframe("employees")
df_categories = obtener_dataframe("categories")
df_orders = obtener_dataframe("orders")
df_order_details = obtener_dataframe("order details")
df_customers = obtener_dataframe("customers")
df_suppliers = obtener_dataframe("suppliers")
df_shippers = obtener_dataframe("shippers")
df_products = obtener_dataframe("products")
df_ventas = obtener_dataframe("VENTAS")

# Mostrar los DataFrames

In [50]:
print("\nDataFrame de VENTAS:")
print(df_ventas)

print("DataFrame de Employees:")
print(df_employees)

print("\nDataFrame de Categories:")
print(df_categories)

print("\nDataFrame de Orders:")
print(df_orders)

print("\nDataFrame de Order Details:")
print(df_order_details)

print("\nDataFrame de Customers:")
print(df_customers)

print("\nDataFrame de Suppliers:")
print(df_suppliers)

print("\nDataFrame de Shippers:")
print(df_shippers)

print("\nDataFrame de Products:")
print(df_products)

DataFrame de VENTAS:
      Id  ID_Pedido ID_Factura       Supermercado      Ciudad Tipo_cliente  \
0      1      56904   56904-C1  Perfumes Olorosos        Vigo    Existente
1      2      56904   56904-C2         El Cercano  Pontevedra    Existente
2      3      56904   56904-C3         El Primero        Vigo    Existente
3      4      56904   56904-C4  Perfumes Olorosos        Vigo    Existente
4      5      56904   56904-C5            El Caro      Nigrán    Existente
..   ...        ...        ...                ...         ...          ...
303  304      30066   30066-C3      Mercería Coso    A Coruña    Existente
304  305      30066   30066-C4      Mercería Coso    A Coruña    Existente
305  306      30066   30066-C5  Perfumes Olorosos        Vigo    Existente
306  307      30066   30066-C6         El Primero        Vigo    Existente
307  308      30066   30066-C7      Mercería Coso    A Coruña    Existente

       Sexo         Linea_negocio  Precio_unitario  Cantidad     Total  \
0     Mujer  Belleza y perfumería          431.570        42  18125.90
1     Mujer          Supermercado          427.754        32  13688.10
2     Mujer          Supermercado          125.120        55   6881.58
3     Mujer  Belleza y perfumería          499.885        35  17496.00
4     Mujer               Cocinas          216.976         8   1735.81
..      ...                   ...              ...       ...       ...
303  Hombre                 Otros          974.517        20  19490.30
304  Hombre                 Otros          131.573        39   5131.33
305  Hombre  Belleza y perfumería          814.359        59  48047.20
306  Hombre          Supermercado          867.107        90  78039.70
307  Hombre                 Otros          331.618        80  26529.40

          IVA       Fecha             Pago
0     3806.45  1973-09-25  Tarjeta crédito
1     2874.50  1973-09-25  Tarjeta crédito
2     1445.13  1973-09-25  Tarjeta crédito
3     3674.16  1973-09-25  Tarjeta crédito
4      364.52  1973-09-25  Tarjeta crédito
..        ...         ...              ...
303   4092.97  1998-02-04         Efectivo
304   1077.58  1998-02-04         Efectivo
305  10089.90  1998-02-04         Efectivo
306  16388.30  1998-02-04         Efectivo
307   5571.18  1998-02-04         Efectivo

[308 rows x 14 columns]
DataFrame de Employees:
   EmployeeID   LastName FirstName                     Title TitleOfCourtesy  \
0           1    Davolio     Nancy      Sales Representative             Ms.
1           2     Fuller    Andrew     Vice President, Sales             Dr.
2           3  Leverling     Janet      Sales Representative             Ms.
3           4    Peacock  Margaret      Sales Representative            Mrs.
4           5   Buchanan    Steven             Sales Manager             Mr.
5           6     Suyama   Michael      Sales Representative             Mr.
6           7       King    Robert      Sales Representative             Mr.
7           8   Callahan     Laura  Inside Sales Coordinator             Ms.
8           9  Dodsworth      Anne      Sales Representative             Ms.

   BirthDate   HireDate                           Address      City Region  \
0 1948-12-08 1992-05-01     507 - 20th Ave. E.\r\nApt. 2A   Seattle     WA
1 1952-02-19 1992-08-14                908 W. Capital Way    Tacoma     WA
2 1963-08-30 1992-04-01                722 Moss Bay Blvd.  Kirkland     WA
3 1937-09-19 1993-05-03              4110 Old Redmond Rd.   Redmond     WA
4 1955-03-04 1993-10-17                   14 Garrett Hill    London   None
5 1963-07-02 1993-10-17       Coventry House\r\nMiner Rd.    London   None
6 1960-05-29 1994-01-02  Edgeham Hollow\r\nWinchester Way    London   None
7 1958-01-09 1994-03-05             4726 - 11th Ave. N.E.   Seattle     WA
8 1966-01-27 1994-11-15                 7 Houndstooth Rd.    London   None

  PostalCode Country       HomePhone Extension  \
0      98122     USA  (206) 555-9857      5467
1      98401     USA  (206) 555-9482      3457
2      98033     USA  (206) 555-3412      3355
3      98052     USA  (206) 555-8122      5176
4    SW1 8JR      UK   (71) 555-4848      3453
5    EC2 7JR      UK   (71) 555-7773       428
6    RG1 9SP      UK   (71) 555-5598       465
7      98105     USA  (206) 555-1189      2344
8    WG2 7LT      UK   (71) 555-4444       452

                                               Photo  \
0  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
1  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
2  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
3  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
4  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
5  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
6  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
7  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
8  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...

                                               Notes  ReportsTo
0  Education includes a BA in psychology from Col...        2.0
1  Andrew received his BTS commercial in 1974 and...        NaN
2  Janet has a BS degree in chemistry from Boston...        2.0
3  Margaret holds a BA in English literature from...        2.0
4  Steven Buchanan graduated from St. Andrews Uni...        2.0
5  Michael is a graduate of Sussex University (MA...        5.0
6  Robert King served in the Peace Corps and trav...        5.0
7  Laura received a BA in psychology from the Uni...        2.0
8  Anne has a BA degree in English from St. Lawre...        5.0

DataFrame de Categories:
   CategoryID    CategoryName  \
0           1       Beverages
1           2      Condiments
2           3     Confections
3           4  Dairy Products
4           5  Grains/Cereals
5           6    Meat/Poultry
6           7         Produce
7           8         Seafood

                                         Description  \
0        Soft drinks, coffees, teas, beers, and ales
1  Sweet and savory sauces, relishes, spreads, an...
2                Desserts, candies, and sweet breads
3                                            Cheeses
4                Breads, crackers, pasta, and cereal
5                                     Prepared meats
6                          Dried fruit and bean curd
7                                   Seaweed and fish

                                             Picture
0  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
1  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
2  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
3  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
4  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
5  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
6  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
7  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...

DataFrame de Orders:
     OrderID CustomerID  EmployeeID  OrderDate RequiredDate ShippedDate  \
0      10248      VINET           5 1994-08-04   1994-09-01  1994-08-16
1      10249      TOMSP           6 1994-08-05   1994-09-16  1994-08-10
2      10250      HANAR           4 1994-08-08   1994-09-05  1994-08-12
3      10251      VICTE           3 1994-08-08   1994-09-05  1994-08-15
4      10252      SUPRD           4 1994-08-09   1994-09-06  1994-08-11
..       ...        ...         ...        ...          ...         ...
825    11073      PERIC           2 1996-06-04   1996-07-02         NaT
826    11074      SIMOB           7 1996-06-05   1996-07-03         NaT
827    11075      RICSU           8 1996-06-05   1996-07-03         NaT
828    11076      BONAP           4 1996-06-05   1996-07-03         NaT
829    11077      RATTC           1 1996-06-05   1996-07-03         NaT

     ShipVia  Freight                    ShipName               ShipAddress  \
0          3  32.3800   Vins et alcools Chevalier        59 rue de l'Abbaye
1          1  11.6100          Toms Spezialitäten             Luisenstr. 48
2          2  65.8300               Hanari Carnes           Rua do Paço, 67
3          1  41.3400        Victuailles en stock        2, rue du Commerce
4          2  51.3000            Suprêmes délices      Boulevard Tirou, 255
..       ...      ...                         ...                       ...
825        2  24.9500   Pericles Comidas clásicas  Calle Dr. Jorge Cash 321
826        2  18.4400               Simons bistro              Vinbæltet 34
827        2   6.1900          Richter Supermarkt               Starenweg 5
828        2  38.2800                    Bon app'      12, rue des Bouchers
829        2   8.5300  Rattlesnake Canyon Grocery           2817 Milton Dr.

           ShipCity ShipRegion ShipPostalCode  ShipCountry
0             Reims       None          51100       France
1           Münster       None          44087      Germany
2    Rio de Janeiro         RJ      05454-876       Brazil
3              Lyon       None          69004       France
4         Charleroi       None         B-6000      Belgium
..              ...        ...            ...          ...
825     México D.F.       None          05033       Mexico
826       København       None           1734      Denmark
827          Genève       None           1204  Switzerland
828       Marseille       None          13008       France
829     Albuquerque         NM          87110          USA

[830 rows x 14 columns]

DataFrame de Order Details:
      OrderID  ProductID UnitPrice  Quantity  Discount
0       10248         11   14.0000        12      0.00
1       10248         42    9.8000        10      0.00
2       10248         72   34.8000         5      0.00
3       10249         14   18.6000         9      0.00
4       10249         51   42.4000        40      0.00
...       ...        ...       ...       ...       ...
2150    11077         64   33.2500         2      0.03
2151    11077         66   17.0000         1      0.00
2152    11077         73   15.0000         2      0.01
2153    11077         75    7.7500         4      0.00
2154    11077         77   13.0000         2      0.00

[2155 rows x 5 columns]

DataFrame de Customers:
   CustomerID                         CompanyName              ContactName  \
0       ALFKI                 Alfreds Futterkiste             Maria Anders
1       ANATR  Ana Trujillo Emparedados y helados             Ana Trujillo
2       ANTON             Antonio Moreno Taquería           Antonio Moreno
3       AROUT                     Around the Horn             Thomas Hardy
4       BERGS                  Berglunds snabbköp       Christina Berglund
..        ...                                 ...                      ...
86      WARTH                      Wartian Herkku         Pirkko Koskitalo
87      WELLI              Wellington Importadora            Paula Parente
88      WHITC                White Clover Markets           Karl Jablonski
89      WILMK                         Wilman Kala          Matti Karttunen
90      WOLZA                      Wolski  Zajazd  Zbyszek Piestrzeniewicz

                 ContactTitle                         Address         City  \
0        Sales Representative                   Obere Str. 57       Berlin
1                       Owner   Avda. de la Constitución 2222  México D.F.
2                       Owner                 Mataderos  2312  México D.F.
3        Sales Representative                 120 Hanover Sq.       London
4         Order Administrator                 Berguvsvägen  8        Luleå
..                        ...                             ...          ...
86         Accounting Manager                     Torikatu 38         Oulu
87              Sales Manager              Rua do Mercado, 12      Resende
88                      Owner  305 - 14th Ave. S.\r\nSuite 3B      Seattle
89  Owner/Marketing Assistant                   Keskuskatu 45     Helsinki
90                      Owner                 ul. Filtrowa 68     Warszawa

   Region PostalCode  Country           Phone             Fax Image  \
0    None      12209  Germany     030-0074321     030-0076545  None
1    None      05021   Mexico    (5) 555-4729    (5) 555-3745  None
2    None      05023   Mexico    (5) 555-3932            None  None
3    None    WA1 1DP       UK  (171) 555-7788  (171) 555-6750  None
4    None   S-958 22   Sweden   0921-12 34 65   0921-12 34 67  None
..    ...        ...      ...             ...             ...   ...
86   None      90110  Finland      981-443655      981-443655  None
87     SP  08737-363   Brazil   (14) 555-8122            None  None
88     WA      98128      USA  (206) 555-4112  (206) 555-4115  None
89   None      21240  Finland     90-224 8858     90-224 8858  None
90   None     01-012   Poland   (26) 642-7012   (26) 642-7012  None

   ImageThumbnail
0            None
1            None
2            None
3            None
4            None
..            ...
86           None
87           None
88           None
89           None
90           None

[91 rows x 13 columns]

DataFrame de Suppliers:
    SupplierID                             CompanyName  \
0            1                          Exotic Liquids
1            2              New Orleans Cajun Delights
2            3               Grandma Kelly's Homestead
3            4                           Tokyo Traders
4            5      Cooperativa de Quesos 'Las Cabras'
5            6                                Mayumi's
6            7                           Pavlova, Ltd.
7            8                Specialty Biscuits, Ltd.
8            9                        PB Knäckebröd AB
9           10               Refrescos Americanas LTDA
10          11             Heli Süßwaren GmbH & Co. KG
11          12       Plutzer Lebensmittelgroßmärkte AG
12          13  Nord-Ost-Fisch Handelsgesellschaft mbH
13          14                 Formaggi Fortini s.r.l.
14          15                         Norske Meierier
15          16                       Bigfoot Breweries
16          17                       Svensk Sjöföda AB
17          18              Aux joyeux ecclésiastiques
18          19             New England Seafood Cannery
19          20                            Leka Trading
20          21                              Lyngbysild
21          22                     Zaanse Snoepfabriek
22          23                               Karkki Oy
23          24                             G'day, Mate
24          25                               Ma Maison
25          26                    Pasta Buttini s.r.l.
26          27                      Escargots Nouveaux
27          28                            Gai pâturage
28          29                        Forêts d'érables

                    ContactName                  ContactTitle  \
0              Charlotte Cooper            Purchasing Manager
1                 Shelley Burke           Order Administrator
2                 Regina Murphy          Sales Representative
3                  Yoshi Nagase             Marketing Manager
4   Antonio del Valle Saavedra           Export Administrator
5                   Mayumi Ohno      Marketing Representative
6                   Ian Devling             Marketing Manager
7                  Peter Wilson          Sales Representative
8                 Lars Peterson                   Sales Agent
9                   Carlos Diaz             Marketing Manager
10                Petra Winkler                 Sales Manager
11                  Martin Bein  International Marketing Mgr.
12                Sven Petersen   Coordinator Foreign Markets
13                   Elio Rossi          Sales Representative
14                 Beate Vileid             Marketing Manager
15                Cheryl Saylor         Regional Account Rep.
16                Michael Björn          Sales Representative
17               Guylène Nodier                 Sales Manager
18                Robb Merchant       Wholesale Account Agent
19                 Chandra Leka                         Owner
20               Niels Petersen                 Sales Manager
21                  Dirk Luchte            Accounting Manager
22               Anne Heikkonen               Product Manager
23              Wendy Mackenzie          Sales Representative
24              Jean-Guy Lauzon             Marketing Manager
25             Giovanni Giudici           Order Administrator
26               Marie Delamare                 Sales Manager
27                   Eliane Noz          Sales Representative
28               Chantal Goulet            Accounting Manager

                                             Address           City    Region  \
0                                     49 Gilbert St.         London      None
1                                     P.O. Box 78934    New Orleans        LA
2                                     707 Oxford Rd.      Ann Arbor        MI
3                       9-8 Sekimai\r\nMusashino-shi          Tokyo      None
4                                  Calle del Rosal 4         Oviedo  Asturias
5                              92 Setsuko\r\nChuo-ku          Osaka      None
6                        74 Rose St.\r\nMoonie Ponds      Melbourne  Victoria
7                                      29 King's Way     Manchester      None
8                                    Kaloadagatan 13       Göteborg      None
9                          Av. das Americanas 12.890      São Paulo      None
10                                Tiergartenstraße 5         Berlin      None
11                                     Bogenallee 51      Frankfurt      None
12                                  Frahmredder 112a       Cuxhaven      None
13                                   Viale Dante, 75        Ravenna      None
14                                      Hatlevegen 5       Sandvika      None
15                    3400 - 8th Avenue\r\nSuite 210           Bend        OR
16                                 Brovallavägen 231      Stockholm      None
17                     203, Rue des Francs-Bourgeois          Paris      None
18  Order Processing Dept.\r\n2100 Paul Revere Blvd.         Boston        MA
19                    471 Serangoon Loop, Suite #402      Singapore      None
20                      Lyngbysild\r\nFiskebakken 10         Lyngby      None
21                             Verkoop\r\nRijnweg 22        Zaandam      None
22                                      Valtakatu 12   Lappeenranta      None
23         170 Prince Edward Parade\r\nHunter's Hill         Sydney       NSW
24                              2960 Rue St. Laurent       Montréal    Québec
25                            Via dei Gelsomini, 153        Salerno      None
26                                 22, rue H. Voiron       Montceau      None
27                        Bat. B\r\n3, rue des Alpes         Annecy      None
28                                  148 rue Chasseur  Ste-Hyacinthe    Québec

   PostalCode      Country            Phone              Fax  \
0     EC1 4SD           UK   (171) 555-2222             None
1       70117          USA   (100) 555-4822             None
2       48104          USA   (313) 555-5735   (313) 555-3349
3         100        Japan   (03) 3555-5011             None
4       33007        Spain   (98) 598 76 54             None
5         545        Japan    (06) 431-7877             None
6        3058    Australia    (03) 444-2343    (03) 444-6588
7     M14 GSD           UK   (161) 555-4448             None
8    S-345 67      Sweden     031-987 65 43    031-987 65 91
9        5442       Brazil    (11) 555 4640             None
10      10785      Germany    (010) 9984510             None
11      60439      Germany     (069) 992755             None
12      27478      Germany     (04721) 8713     (04721) 8714
13      48100        Italy     (0544) 60323     (0544) 60603
14       1320       Norway      (0)2-953010             None
15      97101          USA   (503) 555-9931             None
16   S-123 45       Sweden     08-123 45 67             None
17      75004       France  (1) 03.83.00.68  (1) 03.83.00.62

In [5]:
# Cerrar la conexión
#conexion.close()

# 1 Pedidos efectuados por Mujeres.

In [72]:
from sqlalchemy import create_engine, MetaData, Table, select

# Crear el motor SQLAlchemy para conectarse a la base de datos MySQL
engine = create_engine('mysql+mysqlconnector://root:abc123...@mariadb:3306/mibbdd')

# Crear un objeto Metadata y cargar la estructura de la base de datos
metadata = MetaData()
metadata.reflect(bind=engine)

# Acceder a la tabla 'ventas'
ventas = Table('VENTAS', metadata, autoload=True, autoload_with=engine)

In [73]:
# Definir las columnas específicas
columnas = [
    ventas.columns.Id, ventas.columns.ID_Pedido, ventas.columns.ID_Factura,
    ventas.columns.Supermercado, ventas.columns.Ciudad, ventas.columns.Tipo_cliente,
    ventas.columns.Sexo, ventas.columns.Linea_negocio, ventas.columns.Precio_unitario,
    ventas.columns.Cantidad, ventas.columns.Total, ventas.columns.IVA,
    ventas.columns.Fecha, ventas.columns.Pago
]

# Definir la consulta SQL para seleccionar los registros donde el sexo es 'Mujer'
consulta = select(*columnas).where(ventas.columns.Sexo == 'Mujer')

# Crear una conexión a la base de datos
conn = engine.connect()
# Ejecutar la consulta y recuperar los resultados
resultados = conn.execute(consulta).fetchall()
# Cerrar la conexión con la base de datos
conn.close()

# Crear un DataFrame de pandas a partir de los resultados
import pandas as pd
df_mujeres = pd.DataFrame(resultados, columns=[columna.key for columna in columnas])

In [71]:
print(df_mujeres)

      Id  ID_Pedido ID_Factura       Supermercado      Ciudad Tipo_cliente  \
0      1      56904   56904-C1  Perfumes Olorosos        Vigo    Existente
1      2      56904   56904-C2         El Cercano  Pontevedra    Existente
2      3      56904   56904-C3         El Primero        Vigo    Existente
3      4      56904   56904-C4  Perfumes Olorosos        Vigo    Existente
4      5      56904   56904-C5            El Caro      Nigrán    Existente
..   ...        ...        ...                ...         ...          ...
174  297      11542   11542-C6      Mercería Coso    A Coruña    Existente
175  298      11542   11542-C7         El Primero        Vigo    Existente
176  299      11542   11542-C8  Perfumes Olorosos        Vigo    Existente
177  300      11542   11542-C9      Mercería Coso    A Coruña    Existente
178  301      11542  11542-C10            El Caro      Nigrán    Existente

      Sexo         Linea_negocio  Precio_unitario  Cantidad     Total  \
0    Mujer  Belleza y perfumería          431.570        42  18125.90
1    Mujer          Supermercado          427.754        32  13688.10
2    Mujer          Supermercado          125.120        55   6881.58
3    Mujer  Belleza y perfumería          499.885        35  17496.00
4    Mujer               Cocinas          216.976         8   1735.81
..     ...                   ...              ...       ...       ...
174  Mujer                 Otros          588.224        76  44705.10
175  Mujer          Supermercado          240.564         8   1924.51
176  Mujer  Belleza y perfumería          172.493        80  13799.40
177  Mujer                 Otros          706.678         2   1413.36
178  Mujer               Cocinas          963.468        31  29867.50

          IVA       Fecha                    Pago
0    3806.450  1973-09-25         Tarjeta crédito
1    2874.500  1973-09-25         Tarjeta crédito
2    1445.130  1973-09-25         Tarjeta crédito
3    3674.160  1973-09-25         Tarjeta crédito
4     364.520  1973-09-25         Tarjeta crédito
..        ...         ...                     ...
174  9388.060  1987-11-16  Transferencia bancaria
175   404.147  1987-11-16  Transferencia bancaria
176  2897.880  1987-11-16  Transferencia bancaria
177   296.805  1987-11-16  Transferencia bancaria
178  6272.170  1987-11-16  Transferencia bancaria

[179 rows x 14 columns]

# 2. Pedidos realizados en una fecha determinada pasada por teclado.

In [36]:
from sqlalchemy import create_engine, MetaData, Table, select
import pandas as pd

# Crear el motor SQLAlchemy para conectarse a la base de datos MySQL
engine = create_engine('mysql+mysqlconnector://root:abc123...@mariadb:3306/mibbdd')

# Crear un objeto Metadata y cargar la estructura de la base de datos
metadata = MetaData()
metadata.reflect(bind=engine)

# Acceder a la tabla 'ORDERS'
orders = Table('orders', metadata, autoload=True, autoload_with=engine)

def consultar_pedidos_por_fecha(fecha):
    # Definir las columnas específicas que deseas seleccionar
    columnas = [orders.columns.OrderID, orders.columns.CustomerID, orders.columns.EmployeeID,
                orders.columns.OrderDate, orders.columns.RequiredDate, orders.columns.ShippedDate,
                orders.columns.ShipVia, orders.columns.Freight, orders.columns.ShipName,
                orders.columns.ShipAddress, orders.columns.ShipCity, orders.columns.ShipRegion,
                orders.columns.ShipPostalCode, orders.columns.ShipCountry]

    # Definir la consulta SQL para seleccionar los pedidos de la fecha proporcionada
    consulta = select(*columnas).where(orders.columns.OrderDate == fecha)

    # Crear una conexión a la base de datos
    with engine.connect() as conn:
        # Ejecutar la consulta y recuperar los resultados
        resultados = conn.execute(consulta).fetchall()

    # Crear un DataFrame de pandas a partir de los resultados
    df_pedidos = pd.DataFrame(resultados, columns=[columna.key for columna in columnas])
    return df_pedidos

def main():
    # Solicitar al usuario que ingrese una fecha
    fecha = input("Por favor, ingresa una fecha en formato YYYY-MM-DD: ")

    # Llamar a la función para consultar los pedidos por fecha
    df_resultados = consultar_pedidos_por_fecha(fecha)

    # Mostrar los resultados
    print("Pedidos encontrados para la fecha", fecha, ":")
    print(df_resultados)

if __name__ == "__main__":
    main()

Por favor, ingresa una fecha en formato YYYY-MM-DD:  1994-08-16

Pedidos encontrados para la fecha 1994-08-16 :
   OrderID CustomerID  EmployeeID  OrderDate RequiredDate ShippedDate  \
0    10257      HILAA           4 1994-08-16   1994-09-13  1994-08-22

   ShipVia  Freight          ShipName  \
0        3  81.9100  HILARIÓN-Abastos

                                  ShipAddress       ShipCity ShipRegion  \
0  Carrera 22 con Ave. Carlos Soublette #8-35  San Cristóbal    Táchira

  ShipPostalCode ShipCountry
0           5022   Venezuela

## 3. Que solicite al usuario el número de factura

In [35]:
from sqlalchemy import create_engine, MetaData, Table, select
import pandas as pd

# Crear el motor SQLAlchemy para conectarse a la base de datos MySQL
engine = create_engine('mysql+mysqlconnector://root:abc123...@mariadb:3306/mibbdd')

# Crear un objeto Metadata y cargar la estructura de la base de datos
metadata = MetaData()
metadata.reflect(bind=engine)

# Acceder a la tabla 'VENTAS'
ventas = Table('VENTAS', metadata, autoload=True, autoload_with=engine)

def consultar_pedidos_por_factura(numero_factura):
    # Definir las columnas específicas que deseas seleccionar
    columnas = [ventas.columns.Id, ventas.columns.ID_Pedido, ventas.columns.ID_Factura,
                ventas.columns.Supermercado, ventas.columns.Ciudad, ventas.columns.Tipo_cliente,
                ventas.columns.Sexo, ventas.columns.Linea_negocio, ventas.columns.Precio_unitario,
                ventas.columns.Cantidad, ventas.columns.Total, ventas.columns.IVA, ventas.columns.Fecha,
                ventas.columns.Pago]

    # Definir la consulta SQL para seleccionar los pedidos de la factura proporcionada
    consulta = select(*columnas).where(ventas.columns.ID_Factura == numero_factura)

    # Crear una conexión a la base de datos
    with engine.connect() as conn:
        # Ejecutar la consulta y recuperar los resultados
        resultados = conn.execute(consulta).fetchall()

    # Crear un DataFrame de pandas a partir de los resultados
    df_pedidos = pd.DataFrame(resultados, columns=[columna.key for columna in columnas])
    return df_pedidos

def main():
    # Solicitar al usuario que ingrese el número de factura
    numero_factura = input("Por favor, ingresa el número de factura: ")

    # Llamar a la función para consultar los pedidos por número de factura
    df_resultados = consultar_pedidos_por_factura(numero_factura)

    # Mostrar los resultados
    print("Pedidos encontrados para la factura", numero_factura, ":")
    print(df_resultados)

if __name__ == "__main__":
    main()

Por favor, ingresa el número de factura:  56904-C2

Pedidos encontrados para la factura 56904-C2 :
   Id  ID_Pedido ID_Factura Supermercado      Ciudad Tipo_cliente   Sexo  \
0   2      56904   56904-C2   El Cercano  Pontevedra    Existente  Mujer

  Linea_negocio  Precio_unitario  Cantidad    Total     IVA       Fecha  \
0  Supermercado          427.754        32  13688.1  2874.5  1973-09-25

              Pago
0  Tarjeta crédito

## 3.  Pedidos de un determinado departamento o línea de negocio pasada por teclado y cuya cantidad supere las 40 unidades

In [37]:
from sqlalchemy import create_engine, MetaData, Table, select
import pandas as pd

# Crear el motor SQLAlchemy para conectarse a la base de datos MySQL
engine = create_engine('mysql+mysqlconnector://root:abc123...@mariadb:3306/mibbdd')

# Crear un objeto Metadata y cargar la estructura de la base de datos
metadata = MetaData()
metadata.reflect(bind=engine)

# Acceder a la tabla 'VENTAS'
ventas = Table('VENTAS', metadata, autoload=True, autoload_with=engine)

def consultar_pedidos_por_linea_negocio(linea_negocio):
    # Definir las columnas específicas que deseas seleccionar
    columnas = [ventas.columns.Id, ventas.columns.ID_Pedido, ventas.columns.ID_Factura,
                ventas.columns.Supermercado, ventas.columns.Ciudad, ventas.columns.Tipo_cliente,
                ventas.columns.Sexo, ventas.columns.Linea_negocio, ventas.columns.Precio_unitario,
                ventas.columns.Cantidad, ventas.columns.Total, ventas.columns.IVA, ventas.columns.Fecha,
                ventas.columns.Pago]

    # Definir la consulta SQL para seleccionar los pedidos con cantidad superior a 40 unidades
    consulta = select(*columnas).where((ventas.columns.Linea_negocio == linea_negocio) & (ventas.columns.Cantidad > 40))

    # Crear una conexión a la base de datos
    with engine.connect() as conn:
        # Ejecutar la consulta y recuperar los resultados
        resultados = conn.execute(consulta).fetchall()

    # Crear un DataFrame de pandas a partir de los resultados
    df_pedidos = pd.DataFrame(resultados, columns=[columna.key for columna in columnas])
    return df_pedidos

def main():
    # Solicitar al usuario que ingrese la línea de negocio
    linea_negocio = input("Por favor, ingresa la línea de negocio: ")

    # Llamar a la función para consultar los pedidos por línea de negocio y cantidad superior a 40 unidades
    df_resultados = consultar_pedidos_por_linea_negocio(linea_negocio)

    # Mostrar los resultados
    print("Pedidos encontrados en la línea de negocio", linea_negocio, "con cantidad superior a 40 unidades:")
    print(df_resultados)

if __name__ == "__main__":
    main()

Por favor, ingresa la línea de negocio:  Belleza y perfumería

Pedidos encontrados en la línea de negocio Belleza y perfumería con cantidad superior a 40 unidades:
     Id  ID_Pedido ID_Factura       Supermercado Ciudad Tipo_cliente    Sexo  \
0     1      56904   56904-C1  Perfumes Olorosos   Vigo    Existente   Mujer
1    18      72994   72994-C3  Perfumes Olorosos   Vigo        Nuevo   Mujer
2    30      80407   80407-C2  Perfumes Olorosos   Vigo    Existente   Mujer
3    31      80407   80407-C3  Perfumes Olorosos   Vigo    Existente   Mujer
4    34      18447   18447-C1  Perfumes Olorosos   Vigo    Existente   Mujer
5    66      96811   96811-C1  Perfumes Olorosos   Vigo        Nuevo  Hombre
6    69      12573   12573-C3  Perfumes Olorosos   Vigo        Nuevo   Mujer
7    74      31349   31349-C2  Perfumes Olorosos   Vigo    Existente  Hombre
8    91      38805   38805-C5  Perfumes Olorosos   Vigo    Existente   Mujer
9   105      18447   18447-C1  Perfumes Olorosos   Vigo    Existente   Mujer
10  106      28966   28966-C4  Perfumes Olorosos   Vigo    Existente  Hombre
11  115      34175   34175-C2  Perfumes Olorosos   Vigo        Nuevo   Mujer
12  124       3800    3800-C3  Perfumes Olorosos   Vigo    Existente  Hombre
13  125       3800    3800-C4  Perfumes Olorosos   Vigo    Existente  Hombre
14  139      33380   33380-C3  Perfumes Olorosos   Vigo        Nuevo   Mujer
15  152      29986   29986-C2  Perfumes Olorosos   Vigo        Nuevo  Hombre
16  165      58904   58904-C4  Perfumes Olorosos   Vigo    Existente  Hombre
17  169      37331   37331-C4  Perfumes Olorosos   Vigo        Nuevo   Mujer
18  176       6777    6777-C1  Perfumes Olorosos   Vigo    Existente   Mujer
19  182       6777    6777-C7  Perfumes Olorosos   Vigo    Existente   Mujer
20  186      10018   10018-C2  Perfumes Olorosos   Vigo        Nuevo   Mujer
21  195      31627   31627-C3  Perfumes Olorosos   Vigo    Existente   Mujer
22  205      46547   46547-C3  Perfumes Olorosos   Vigo    Existente   Mujer
23  208      46547   46547-C6  Perfumes Olorosos   Vigo    Existente   Mujer
24  222      28239   28239-C1  Perfumes Olorosos   Vigo    Existente   Mujer
25  264      51480   51480-C6  Perfumes Olorosos   Vigo        Nuevo  Hombre
26  268      72208   72208-C3  Perfumes Olorosos   Vigo    Existente   Mujer
27  276      56277   56277-C1  Perfumes Olorosos   Vigo        Nuevo   Mujer
28  285      71233   71233-C2  Perfumes Olorosos   Vigo        Nuevo  Hombre
29  295      11542   11542-C4  Perfumes Olorosos   Vigo    Existente   Mujer
30  296      11542   11542-C5  Perfumes Olorosos   Vigo    Existente   Mujer
31  299      11542   11542-C8  Perfumes Olorosos   Vigo    Existente   Mujer
32  306      30066   30066-C5  Perfumes Olorosos   Vigo    Existente  Hombre

           Linea_negocio  Precio_unitario  Cantidad     Total       IVA  \
0   Belleza y perfumería         431.5700        42  18125.90   3806.45
1   Belleza y perfumería         186.7440        63  11764.90   2470.62
2   Belleza y perfumería         435.7340        96  41830.50   8784.41
3   Belleza y perfumería         582.7750        41  23893.80   5017.69
4   Belleza y perfumería         437.5690        80  35005.50   7351.15
5   Belleza y perfumería         706.8060        83  58664.90  12319.60
6   Belleza y perfumería         331.3970        89  29494.30   6193.81
7   Belleza y perfumería         634.4760        58  36799.60   7727.91
8   Belleza y perfumería         784.8750        44  34534.50   7252.24
9   Belleza y perfumería         437.5690        80  35005.50   7351.15
10  Belleza y perfumería          60.1429        77   4631.00    972.51
11  Belleza y perfumería         828.1050        89  73701.30  15477.30
12  Belleza y perfumería         187.5080        93  17438.30   3662.03
13  Belleza y perfumería         762.3200        58  44214.50   9285.05
14  Belleza y perfumería         406.7750        82  33355.50   7004.66
15  Belleza y perfumería         923.7990        83  76675.40  16101.80
16  Belleza y perfumería         141.7720        81  11483.50   2411.54
17  Belleza y perfumería         391.7530        59  23113.40   4853.82
18  Belleza y perfumería          60.6069        63   3818.24    801.83
19  Belleza y perfumería         636.5370        64  40738.30   8555.05
20  Belleza y perfumería         352.3340        58  20435.30   4291.42
21  Belleza y perfumería         849.9090        53  45045.20   9459.49
22  Belleza y perfumería         283.7190        71  20144.10   4230.25
23  Belleza y perfumería         146.1000        79  11541.90   2423.81
24  Belleza y perfumería         334.2630        62  20724.30   4352.10
25  Belleza y perfumería         612.8600        44  26965.90   5662.83
26  Belleza y perfumería         549.6100        50  27480.50   5770.90
27  Belleza y perfumería          94.4611        58   5478.74   1150.54
28  Belleza y perfumería         636.1540        50  31807.70   6679.62
29  Belleza y perfumería         420.6970        83  34917.90   7332.76
30  Belleza y perfumería         501.0370        56  28058.10   5892.20
31  Belleza y perfumería         172.4930        80  13799.40   2897.88
32  Belleza y perfumería         814.3590        59  48047.20  10089.90

         Fecha                    Pago
0   1973-09-25         Tarjeta crédito
1   1999-01-07         Tarjeta crédito
2   1996-08-07                Efectivo
3   1996-08-07                Efectivo
4   1997-10-17                Efectivo
5   1995-04-30                Efectivo
6   1994-09-07  Transferencia bancaria
7   1990-01-06         Tarjeta crédito
8   1983-02-07  Transferencia bancaria
9   1997-10-17                Efectivo
10  1987-04-24  Transferencia bancaria
11  1992-02-22                Efectivo
12  1990-04-15         Tarjeta crédito
13  1990-04-15         Tarjeta crédito
14  2004-10-06                Efectivo
15  1975-02-21  Transferencia bancaria
16  1977-06-01         Tarjeta crédito
17  2002-10-30         Tarjeta crédito
18  1970-02-16  Transferencia bancaria
19  1970-02-16  Transferencia bancaria
20  1988-02-18                Efectivo
21  2000-02-28  Transferencia bancaria
22  1991-02-18                Efectivo
23  1991-02-18                Efectivo
24  2004-10-27                Efectivo
25  1993-10-19         Tarjeta crédito
26  2005-12-12  Transferencia bancaria
27  1975-11-13                Efectivo
28  1972-07-22  Transferencia bancaria
29  1987-11-16  Transferencia bancaria
30  1987-11-16  Transferencia bancaria
31  1987-11-16  Transferencia bancaria
32  1998-02-04                Efectivo

## 5. La suma de los totales que se han pagado por transferencia, efectivo y tarjeta de 
crédito respectivamente.

In [43]:
import mysql.connector

conexion = mysql.connector.connect(
        host="mariadb",  # Nombre del contenedor Docker
        port="3306",  # Puerto predeterminado de MariaDB
        user="root",
        password="abc123...",  # Cambiar a la contraseña correcta
        database="mibbdd"  # Nombre de tu base de datos
)

# Crear un cursor para ejecutar consultas
cursor = conexion.cursor()

# Consulta para calcular la suma de los totales por método de pago
consulta = """
    SELECT 
        SUM(CASE WHEN Pago = 'Transferencia bancaria' THEN Total ELSE 0 END) AS Total_transferencia,
        SUM(CASE WHEN Pago = 'Efectivo' THEN Total ELSE 0 END) AS Total_efectivo,
        SUM(CASE WHEN Pago = 'Tarjeta crédito' THEN Total ELSE 0 END) AS Total_tarjeta_credito
    FROM VENTAS
"""

# Ejecutar la consulta
cursor.execute(consulta)

# Recuperar los resultados
resultados = cursor.fetchone()

# Mostrar los resultados
print("Total pagado por transferencia bancaria:", resultados[0])
print("Total pagado en efectivo:", resultados[1])
print("Total pagado con tarjeta de crédito:", resultados[2])

# Cerrar el cursor y la conexión
cursor.close()
conexion.close()

Total pagado por transferencia bancaria: 3171459.463241577
Total pagado en efectivo: 3337409.7923583984
Total pagado con tarjeta de crédito: 1405382.8822937012

## 6. Listado de facturas y cantidades de cada una de un supermercado pasado por 
teclado desglosadas por mujeres y hombres.

In [52]:
import mysql.connector

# Conectarse a la base de datos
conexion = mysql.connector.connect(
    host="mariadb",  # Nombre del contenedor Docker
    port="3306",  # Puerto predeterminado de MariaDB
    user="root",
    password="abc123...",  # Cambiar a la contraseña correcta
    database="mibbdd"  # Nombre de tu base de datos
)

# Crear un cursor para ejecutar consultas
cursor = conexion.cursor()

# Obtener el nombre del supermercado desde el teclado
supermercado = input("Ingrese el nombre del supermercado: ")

# Ejecutar la consulta SQL para obtener el listado de facturas y cantidades desglosadas por mujeres y hombres
consulta_sql = f"""
    SELECT ID_Factura, Sexo, COUNT(*) AS Cantidad
    FROM VENTAS
    WHERE Supermercado = '{supermercado}'
    GROUP BY ID_Factura, Sexo
"""
cursor.execute(consulta_sql)

# Obtener los resultados
resultados = cursor.fetchall()

# Mostrar los resultados
print("Listado de facturas y cantidades desglosadas por mujeres y hombres:")
for fila in resultados:
    print(f"Factura: {fila[0]}, Sexo: {fila[1]}, Cantidad: {fila[2]}")

# Cerrar el cursor y la conexión
cursor.close()
conexion.close()

Ingrese el nombre del supermercado:  El Caro

Listado de facturas y cantidades desglosadas por mujeres y hombres:
Factura: 10018-C3, Sexo: Mujer, Cantidad: 1
Factura: 11542-C1, Sexo: Mujer, Cantidad: 1
Factura: 11542-C10, Sexo: Mujer, Cantidad: 1
Factura: 14325-C2, Sexo: Mujer, Cantidad: 1
Factura: 14325-C3, Sexo: Mujer, Cantidad: 1
Factura: 17669-C4, Sexo: Mujer, Cantidad: 1
Factura: 22315-C5, Sexo: Mujer, Cantidad: 1
Factura: 22397-C1, Sexo: Mujer, Cantidad: 1
Factura: 26364-C5, Sexo: Mujer, Cantidad: 1
Factura: 27943-C3, Sexo: Hombre, Cantidad: 1
Factura: 27943-C4, Sexo: Hombre, Cantidad: 1
Factura: 28239-C2, Sexo: Mujer, Cantidad: 1
Factura: 28239-C7, Sexo: Mujer, Cantidad: 1
Factura: 28324-C2, Sexo: Hombre, Cantidad: 1
Factura: 28497-C3, Sexo: Hombre, Cantidad: 1
Factura: 28497-C8, Sexo: Hombre, Cantidad: 1
Factura: 31349-C3, Sexo: Hombre, Cantidad: 1
Factura: 31349-C4, Sexo: Hombre, Cantidad: 1
Factura: 31627-C2, Sexo: Mujer, Cantidad: 1
Factura: 31627-C7, Sexo: Mujer, Cantidad: 1
Factura: 33380-C5, Sexo: Mujer, Cantidad: 1
Factura: 37331-C10, Sexo: Mujer, Cantidad: 1
Factura: 37331-C2, Sexo: Mujer, Cantidad: 1
Factura: 3800-C5, Sexo: Hombre, Cantidad: 1
Factura: 44903-C3, Sexo: Hombre, Cantidad: 1
Factura: 44903-C5, Sexo: Hombre, Cantidad: 1
Factura: 44964-C1, Sexo: Mujer, Cantidad: 1
Factura: 46547-C5, Sexo: Mujer, Cantidad: 1
Factura: 51480-C3, Sexo: Hombre, Cantidad: 1
Factura: 51480-C5, Sexo: Hombre, Cantidad: 1
Factura: 51480-C7, Sexo: Hombre, Cantidad: 1
Factura: 5364-C1, Sexo: Hombre, Cantidad: 1
Factura: 55280-C1, Sexo: Hombre, Cantidad: 1
Factura: 55280-C6, Sexo: Hombre, Cantidad: 1
Factura: 56277-C3, Sexo: Mujer, Cantidad: 1
Factura: 56904-C5, Sexo: Mujer, Cantidad: 1
Factura: 60659-C1, Sexo: Mujer, Cantidad: 1
Factura: 60659-C5, Sexo: Mujer, Cantidad: 1
Factura: 6777-C8, Sexo: Mujer, Cantidad: 1
Factura: 68893-C4, Sexo: Mujer, Cantidad: 1
Factura: 68893-C5, Sexo: Mujer, Cantidad: 1
Factura: 72208-C1, Sexo: Mujer, Cantidad: 1
Factura: 72208-C2, Sexo: Mujer, Cantidad: 1
Factura: 72208-C7, Sexo: Mujer, Cantidad: 1
Factura: 72208-C8, Sexo: Mujer, Cantidad: 1
Factura: 72994-C4, Sexo: Mujer, Cantidad: 1
Factura: 76092-C1, Sexo: Hombre, Cantidad: 1
Factura: 77345-C3, Sexo: Hombre, Cantidad: 1
Factura: 80407-C4, Sexo: Mujer, Cantidad: 2
Factura: 80407-C5, Sexo: Mujer, Cantidad: 1
Factura: 86276-C4, Sexo: Hombre, Cantidad: 1
Factura: 95073-C1, Sexo: Hombre, Cantidad: 1
Factura: 98183-C4, Sexo: Hombre, Cantidad: 1
Factura: 98183-C6, Sexo: Hombre, Cantidad: 1

## 7. Ventas totales desglosadas por departamentos o líneas de negocio ordenadas de 
forma decreciente.

In [55]:
import mysql.connector

# Conectarse a la base de datos
conexion = mysql.connector.connect(
    host="mariadb",  # Nombre del contenedor Docker
    port="3306",  # Puerto predeterminado de MariaDB
    user="root",
    password="abc123...",  # Cambiar a la contraseña correcta
    database="mibbdd"  # Nombre de tu base de datos
)

# Crear un cursor para ejecutar consultas
cursor = conexion.cursor()

# Ejecutar la consulta SQL para obtener las ventas totales desglosadas por departamento o línea de negocio
consulta_sql = """
    SELECT Linea_negocio, SUM(Total) AS Ventas_totales
    FROM VENTAS
    GROUP BY Linea_negocio
    ORDER BY Ventas_totales DESC;
"""
cursor.execute(consulta_sql)

# Obtener los resultados
resultados = cursor.fetchall()

# Mostrar los resultados
print("Ventas totales desglosadas por departamento o línea de negocio:")
for fila in resultados:
    print(f"Departamento: {fila[0]}, Ventas totales: {fila[1]}")

# Cerrar el cursor y la conexión
cursor.close()
conexion.close()

Ventas totales desglosadas por departamento o línea de negocio:
Departamento: Supermercado, Ventas totales: 3000213.96295166
Departamento: Otros, Ventas totales: 2059892.071838379
Departamento: Cocinas, Ventas totales: 1612709.4933319092
Departamento: Belleza y perfumería, Ventas totales: 1241436.6097717285

## 8. Ventas totales desglosadas por supermercados ordenadas de forma creciente

In [56]:
import mysql.connector

# Conectarse a la base de datos
conexion = mysql.connector.connect(
    host="mariadb",  # Nombre del contenedor Docker
    port="3306",  # Puerto predeterminado de MariaDB
    user="root",
    password="abc123...",  # Cambiar a la contraseña correcta
    database="mibbdd"  # Nombre de tu base de datos
)

# Crear un cursor para ejecutar consultas
cursor = conexion.cursor()

# Ejecutar la consulta SQL para obtener las ventas totales desglosadas por supermercados
consulta_sql = """
    SELECT Supermercado, SUM(Total) AS Ventas_totales
    FROM VENTAS
    GROUP BY Supermercado
    ORDER BY Ventas_totales ASC;
"""
cursor.execute(consulta_sql)

# Obtener los resultados
resultados = cursor.fetchall()

# Mostrar los resultados
print("Ventas totales desglosadas por supermercados en orden ascendente:")
for fila in resultados:
    print(f"Supermercado: {fila[0]}, Ventas totales: {fila[1]}")

# Cerrar el cursor y la conexión
cursor.close()
conexion.close()

Ventas totales desglosadas por supermercados en orden ascendente:
Supermercado: Perfumes Olorosos, Ventas totales: 1241436.6097717285
Supermercado: El Primero, Ventas totales: 1405364.969116211
Supermercado: El Cercano, Ventas totales: 1594848.9938354492
Supermercado: El Caro, Ventas totales: 1612709.4933319092
Supermercado: Mercería Coso, Ventas totales: 2059892.071838379

## 9. Listado de facturas pagadas y sus cantidades totales tanto por hombres y luego por mujeres según se haya realizado por tarjeta de crédito, transferencia y efectivo, esto último pasado por tecladodoo

In [57]:
import mysql.connector

# Conectarse a la base de datos
conexion = mysql.connector.connect(
    host="mariadb",  # Nombre del contenedor Docker
    port="3306",  # Puerto predeterminado de MariaDB
    user="root",
    password="abc123...",  # Cambiar a la contraseña correcta
    database="mibbdd"  # Nombre de tu base de datos
)

# Crear un cursor para ejecutar consultas
cursor = conexion.cursor()

# Obtener el método de pago desde el teclado
metodo_pago = input("Ingrese el método de pago (Tarjeta de crédito, Transferencia o Efectivo): ")

# Ejecutar la consulta SQL para obtener las facturas pagadas y sus cantidades totales
consulta_sql = f"""
    SELECT ID_Factura, Sexo, SUM(Cantidad) AS Cantidad_total
    FROM VENTAS
    WHERE Pago = '{metodo_pago}'
    GROUP BY ID_Factura, Sexo;
"""
cursor.execute(consulta_sql)

# Obtener los resultados
resultados = cursor.fetchall()

# Mostrar los resultados
print(f"Listado de facturas pagadas por {metodo_pago} y sus cantidades totales por hombres y mujeres:")
for fila in resultados:
    print(f"Factura: {fila[0]}, Sexo: {fila[1]}, Cantidad total: {fila[2]}")

# Cerrar el cursor y la conexión
cursor.close()
conexion.close()

Ingrese el método de pago (Tarjeta de crédito, Transferencia o Efectivo):  Efectivo

Listado de facturas pagadas por Efectivo y sus cantidades totales por hombres y mujeres:
Factura: 10018-C1, Sexo: Mujer, Cantidad total: 58
Factura: 10018-C2, Sexo: Mujer, Cantidad total: 58
Factura: 10018-C3, Sexo: Mujer, Cantidad total: 93
Factura: 10018-C4, Sexo: Mujer, Cantidad total: 55
Factura: 10018-C5, Sexo: Mujer, Cantidad total: 42
Factura: 10018-C6, Sexo: Mujer, Cantidad total: 79
Factura: 10018-C7, Sexo: Mujer, Cantidad total: 56
Factura: 10018-C8, Sexo: Mujer, Cantidad total: 25
Factura: 14325-C1, Sexo: Mujer, Cantidad total: 95
Factura: 14325-C2, Sexo: Mujer, Cantidad total: 83
Factura: 14325-C3, Sexo: Mujer, Cantidad total: 75
Factura: 17669-C1, Sexo: Mujer, Cantidad total: 32
Factura: 17669-C2, Sexo: Mujer, Cantidad total: 38
Factura: 17669-C3, Sexo: Mujer, Cantidad total: 32
Factura: 17669-C4, Sexo: Mujer, Cantidad total: 82
Factura: 17669-C5, Sexo: Mujer, Cantidad total: 54
Factura: 18447-C1, Sexo: Mujer, Cantidad total: 160
Factura: 18447-C2, Sexo: Mujer, Cantidad total: 64
Factura: 18447-C3, Sexo: Mujer, Cantidad total: 82
Factura: 22315-C1, Sexo: Mujer, Cantidad total: 34
Factura: 22315-C2, Sexo: Mujer, Cantidad total: 59
Factura: 22315-C3, Sexo: Mujer, Cantidad total: 84
Factura: 22315-C4, Sexo: Mujer, Cantidad total: 30
Factura: 22315-C5, Sexo: Mujer, Cantidad total: 74
Factura: 22315-C6, Sexo: Mujer, Cantidad total: 76
Factura: 28239-C1, Sexo: Mujer, Cantidad total: 62
Factura: 28239-C10, Sexo: Mujer, Cantidad total: 51
Factura: 28239-C2, Sexo: Mujer, Cantidad total: 14
Factura: 28239-C3, Sexo: Mujer, Cantidad total: 15
Factura: 28239-C4, Sexo: Mujer, Cantidad total: 97
Factura: 28239-C5, Sexo: Mujer, Cantidad total: 27
Factura: 28239-C6, Sexo: Mujer, Cantidad total: 29
Factura: 28239-C7, Sexo: Mujer, Cantidad total: 16
Factura: 28239-C8, Sexo: Mujer, Cantidad total: 71
Factura: 28239-C9, Sexo: Mujer, Cantidad total: 33
Factura: 30066-C1, Sexo: Hombre, Cantidad total: 8
Factura: 30066-C2, Sexo: Hombre, Cantidad total: 24
Factura: 30066-C3, Sexo: Hombre, Cantidad total: 20
Factura: 30066-C4, Sexo: Hombre, Cantidad total: 39
Factura: 30066-C5, Sexo: Hombre, Cantidad total: 59
Factura: 30066-C6, Sexo: Hombre, Cantidad total: 90
Factura: 30066-C7, Sexo: Hombre, Cantidad total: 80
Factura: 33380-C1, Sexo: Mujer, Cantidad total: 24
Factura: 33380-C2, Sexo: Mujer, Cantidad total: 66
Factura: 33380-C3, Sexo: Mujer, Cantidad total: 82
Factura: 33380-C4, Sexo: Mujer, Cantidad total: 17
Factura: 33380-C5, Sexo: Mujer, Cantidad total: 62
Factura: 34175-C1, Sexo: Mujer, Cantidad total: 73
Factura: 34175-C2, Sexo: Mujer, Cantidad total: 89
Factura: 34175-C3, Sexo: Mujer, Cantidad total: 78
Factura: 34175-C4, Sexo: Mujer, Cantidad total: 73
Factura: 34175-C5, Sexo: Mujer, Cantidad total: 87
Factura: 44903-C1, Sexo: Hombre, Cantidad total: 28
Factura: 44903-C2, Sexo: Hombre, Cantidad total: 58
Factura: 44903-C3, Sexo: Hombre, Cantidad total: 75
Factura: 44903-C4, Sexo: Hombre, Cantidad total: 30
Factura: 44903-C5, Sexo: Hombre, Cantidad total: 5
Factura: 44903-C6, Sexo: Hombre, Cantidad total: 17
Factura: 46547-C1, Sexo: Mujer, Cantidad total: 96
Factura: 46547-C2, Sexo: Mujer, Cantidad total: 50
Factura: 46547-C3, Sexo: Mujer, Cantidad total: 71
Factura: 46547-C4, Sexo: Mujer, Cantidad total: 61
Factura: 46547-C5, Sexo: Mujer, Cantidad total: 37
Factura: 46547-C6, Sexo: Mujer, Cantidad total: 79
Factura: 46547-C7, Sexo: Mujer, Cantidad total: 89
Factura: 46547-C8, Sexo: Mujer, Cantidad total: 5
Factura: 46547-C9, Sexo: Mujer, Cantidad total: 49
Factura: 5364-C1, Sexo: Hombre, Cantidad total: 61
Factura: 5364-C2, Sexo: Hombre, Cantidad total: 24
Factura: 5364-C3, Sexo: Hombre, Cantidad total: 44
Factura: 5364-C4, Sexo: Hombre, Cantidad total: 98
Factura: 55280-C1, Sexo: Hombre, Cantidad total: 48
Factura: 55280-C2, Sexo: Hombre, Cantidad total: 40
Factura: 55280-C3, Sexo: Hombre, Cantidad total: 14
Factura: 55280-C4, Sexo: Hombre, Cantidad total: 56
Factura: 55280-C5, Sexo: Hombre, Cantidad total: 77
Factura: 55280-C6, Sexo: Hombre, Cantidad total: 42
Factura: 56277-C1, Sexo: Mujer, Cantidad total: 58
Factura: 56277-C2, Sexo: Mujer, Cantidad total: 24
Factura: 56277-C3, Sexo: Mujer, Cantidad total: 43
Factura: 56277-C4, Sexo: Mujer, Cantidad total: 14
Factura: 56277-C5, Sexo: Mujer, Cantidad total: 57
Factura: 56277-C6, Sexo: Mujer, Cantidad total: 10
Factura: 56277-C7, Sexo: Mujer, Cantidad total: 28
Factura: 56277-C8, Sexo: Mujer, Cantidad total: 77
Factura: 60659-C1, Sexo: Mujer, Cantidad total: 42
Factura: 60659-C2, Sexo: Mujer, Cantidad total: 33
Factura: 60659-C3, Sexo: Mujer, Cantidad total: 12
Factura: 60659-C4, Sexo: Mujer, Cantidad total: 15
Factura: 60659-C5, Sexo: Mujer, Cantidad total: 98
Factura: 68207-C1, Sexo: Hombre, Cantidad total: 92
Factura: 68207-C2, Sexo: Hombre, Cantidad total: 52
Factura: 68207-C3, Sexo: Hombre, Cantidad total: 19
Factura: 68207-C4, Sexo: Hombre, Cantidad total: 56
Factura: 68207-C5, Sexo: Hombre, Cantidad total: 4
Factura: 71084-C1, Sexo: Hombre, Cantidad total: 72
Factura: 71084-C2, Sexo: Hombre, Cantidad total: 97
Factura: 71084-C3, Sexo: Hombre, Cantidad total: 32
Factura: 71084-C4, Sexo: Hombre, Cantidad total: 56
Factura: 80407-C1, Sexo: Mujer, Cantidad total: 93
Factura: 80407-C2, Sexo: Mujer, Cantidad total: 96
Factura: 80407-C3, Sexo: Mujer, Cantidad total: 41
Factura: 80407-C4, Sexo: Mujer, Cantidad total: 104
Factura: 80407-C5, Sexo: Mujer, Cantidad total: 47
Factura: 95073-C1, Sexo: Hombre, Cantidad total: 12
Factura: 95073-C2, Sexo: Hombre, Cantidad total: 89
Factura: 96811-C1, Sexo: Hombre, Cantidad total: 83
Factura: 98183-C1, Sexo: Hombre, Cantidad total: 41
Factura: 98183-C2, Sexo: Hombre, Cantidad total: 60
Factura: 98183-C3, Sexo: Hombre, Cantidad total: 78
Factura: 98183-C4, Sexo: Hombre, Cantidad total: 63
Factura: 98183-C5, Sexo: Hombre, Cantidad total: 25
Factura: 98183-C6, Sexo: Hombre, Cantidad total: 65

## 10.Número de supermercados por cada población incluyendo el número de pedidos de cada uno

In [58]:
import mysql.connector

# Conectarse a la base de datos
conexion = mysql.connector.connect(
    host="mariadb",  # Nombre del contenedor Docker
    port="3306",  # Puerto predeterminado de MariaDB
    user="root",
    password="abc123...",  # Cambiar a la contraseña correcta
    database="mibbdd"  # Nombre de tu base de datos
)

# Crear un cursor para ejecutar consultas
cursor = conexion.cursor()

# Ejecutar la consulta SQL
consulta_sql = """
    SELECT Ciudad, Supermercado, COUNT(ID_Pedido) AS Numero_de_pedidos
    FROM VENTAS
    GROUP BY Ciudad, Supermercado;
"""
cursor.execute(consulta_sql)

# Obtener los resultados
resultados = cursor.fetchall()

# Mostrar los resultados
print("Número de supermercados por cada población incluyendo el número de pedidos de cada uno:")
for fila in resultados:
    print(f"Ciudad: {fila[0]}, Supermercado: {fila[1]}, Número de pedidos: {fila[2]}")

# Cerrar el cursor y la conexión
cursor.close()
conexion.close()

Número de supermercados por cada población incluyendo el número de pedidos de cada uno:
Ciudad: A Coruña, Supermercado: Mercería Coso, Número de pedidos: 75
Ciudad: Nigrán, Supermercado: El Caro, Número de pedidos: 55
Ciudad: Pontevedra, Supermercado: El Cercano, Número de pedidos: 67
Ciudad: Vigo, Supermercado: El Primero, Número de pedidos: 53
Ciudad: Vigo, Supermercado: Perfumes Olorosos, Número de pedidos: 58